        #containerChat {
            /* background-color: red; */
            height: 500px;  
            width: 400px;
            position: absolute;
            display: block;
            bottom: 1px;
            right: 1px;
        }

        #chatLog {
              height: 250px;
              max-height: 250px;
              background-color: #fff;
              overflow-y: auto;
              overflow-x: auto;
              padding: 1rem;
        }


        .message-bubble {
        max-width: 70%;
        padding: 10px 15px;
        border-radius: 15px;
        margin-bottom: 10px;
        position: relative;
        word-wrap: break-word;
        }

        .from-client {
        background-color: #f1f0f0;
        align-self: flex-start;
        border-top-left-radius: 0;
        }

        .from-admin {
        background-color: #d1f5d3;
        align-self: flex-end;
        border-top-right-radius: 0;
        margin-left: auto;
        text-align: right;
        }